@font-face {
  font-family: heebo;
  src: url(/web/20200618034136im_/http://en-ci-gdiac.coecis.cornell.edu/assets/fonts/Heebo-Medium.ttf)
    format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: helvetica;
  src: url(/web/20200618034136im_/http://en-ci-gdiac.coecis.cornell.edu/assets/fonts/Helvetica.ttf)
    format("truetype");
  font-style: normal;
  font-weight: 100;
}

html {
  font-family: helvetica, heebo;
  font-weight: 100;
  background-color: #0b0b0b;
}

/* Disable highlighting */
::selection {
  color: none;
  background: none;
}
/* For Mozilla Firefox */
::-moz-selection {
  color: none;
  background: none;
}

.top {
  margin-left: 200px;
  /* margin-right: 200px; */
  display: inline-block;
}

.content {
  padding-right: 15%;
}
.center {
  width: 100%;
}

h1 {
  color: white;
  text-transform: uppercase;
}
.title_and_buttons {
  margin-top: 20px;
  display: flex;
  margin-bottom: 20px;
}

.gamename {
  flex: 2;
}

.buttons {
  flex: 2;
  margin-top: 25px;
  margin-left: 30%;
}

.buttons button {
  margin-left: 5px;
  margin-bottom: 5px;
  background-color: #0b0b0b;
  border: 2px solid #1bd7b9;
  color: #1bd7b9;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: helvetica;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #1bd7b9;
  border: 2px solid#1BD7B9;
  color: #0b0b0b;
  cursor: pointer;
}

p {
  color: #898990;
  text-align: justify;
  text-justify: inter-word;
}

.video_info_team {
  display: flex;
  margin-top: 50px;
}

.video_info_team_left {
  flex: 2;
}

.video_info_team_right {
  flex: 1;
  margin-top: 60px;
  margin-bottom: 50px;
}

table {
  text-transform: uppercase;
  font-size: 15px;
}

th {
  color: #1bd7b9;
  text-align: right;
  height: 30px;
  padding-right: 20px;
}

td {
  color: #898990;
  height: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.videoimg {
  margin-left: 200px;
  width: 70%;
}

h3 {
  margin-bottom: 30px;
  margin-left: 200px;
  color: #1bd7b9;
  text-transform: uppercase;
}

.studiologo {
  width: 50px;
}

.screenshot_gallery {
  margin-left: 200px;
  margin-top: 30px;
  float: left;
  margin-bottom: 100px;
}

.screenshot {
  width: 250px;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 2000px) {
  body {
    padding-left: 5%;
    padding-right: 5%;
  }

  .center {
    width: 100%;
  }

  .content {
    padding-left: 15%;
    padding-right: 15%;
  }

  .top {
    margin: 0;
  }

  .top-text-content p {
    font-size: 115%;
  }

  .video_info_team_left .videoimg {
    margin-left: 0;
  }

  .screenshot_gallery {
    margin-left: 0;
  }

  h3 {
    margin-left: 0;
  }

  .video_info_team_right table {
    font-size: 125%;
  }

  .video_info_team_right .studiologo {
    width: 75px;
  }
}

@media screen and (max-width: 1200px) {
  #webpage {
    display: none;
  }

  body {
    margin: 0;
    overflow-x: hidden;
    width: 100%;
  }

  .content {
    padding: 0;
    margin: 0;
  }

  .top {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }

  .top .top-text-content {
    padding-left: 5%;
    padding-right: 5%;
  }

  .center {
    width: 100%;
  }

  .buttons {
    flex: 1;
    margin-top: 25px;
  }

  .buttons button {
    font-size: 10px;
  }

  .video_info_team {
    display: flex;
    margin: 0px;
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .video_info_team_left {
    flex: 2;
  }

  .video_info_team_right {
    flex: 1;
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 50px;
  }

  h3 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  table {
    text-transform: uppercase;
    font-size: 15px;
  }

  th {
    color: #1bd7b9;
    text-align: right;
    height: 30px;
    padding-right: 20px;
  }

  td {
    color: #898990;
    height: 30px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .videoimg {
    margin-left: 0px;
    width: 90%;
  }

  h3 {
    margin-left: 0px;
    color: #1bd7b9;
    text-transform: uppercase;
  }

  .studiologo {
    width: 50px;
  }

  .screenshot_gallery {
    margin: 0;
    padding: 30px 5% 0px 5%;
    display: inline-block;
    margin-bottom: 100px;
  }

  .screenshot {
    width: 250px;
  }
}

@media screen and (max-width: 700px) {
  #webpage {
    display: none;
  }
  .top {
    margin-left: 0px;
    margin-right: 0px;
    display: inline-block;
  }

  .top .top-text-content {
    padding-left: 5%;
    padding-right: 5%;
  }

  .center {
    width: 100%;
  }

  .buttons {
    flex: 1;
    margin-top: 25px;
    margin-left: 4%;
  }

  button {
    margin-left: 5px;
    padding: 3px 7px;
    font-size: 8px;
  }

  .video_info_team {
    display: inline-block;
    margin-top: 16px;
    padding-top: 0;
    padding-left: 5%;
    padding-right: 5%;
  }

  h3 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  table {
    text-transform: uppercase;
    font-size: 15px;
  }

  th {
    color: #1bd7b9;
    text-align: right;
    height: 30px;
    padding-right: 20px;
  }

  td {
    color: #4d4d4d;
    height: 30px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .videoimg {
    margin-left: 0px;
    width: 100%;
  }

  h3 {
    margin-left: 0px;
    color: #1bd7b9;
    text-transform: uppercase;
  }

  .studiologo {
    width: 50px;
  }

  .screenshot_gallery {
    margin-left: 0px;
    margin-top: 30px;
    display: inline-block;
    margin-bottom: 100px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0;
  }

  .screenshot {
    width: 100%;
    margin-bottom: 20px;
  }
}
/*
   FILE ARCHIVED ON 03:41:36 Jun 18, 2020 AND RETRIEVED FROM THE
   INTERNET ARCHIVE ON 19:02:59 Feb 10, 2021.
   JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

   ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
   SECTION 108(a)(3)).
*/
/*
playback timings (ms):
captures_list: 151.141
load_resource: 67.07
exclusion.robots.policy: 0.227
CDXLines.iter: 35.282 (3)
LoadShardBlock: 67.703 (3)
RedisCDXSource: 42.739
PetaboxLoader3.datanode: 54.469 (4)
PetaboxLoader3.resolve: 62.301 (2)
esindex: 0.019
exclusion.robots: 0.244
*/
